/* Bootstrap-esque classes for general use */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column, .flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.justify-content-start, .flex-start {
  justify-content: flex-start;
}

.justify-content-end, .flex-end {
  justify-content: flex-end;
}

.justify-content-center, .flex-center {
  justify-content: center;
}

.justify-content-between, .flex-between {
  justify-content: space-between;
}

.justify-content-around, .flex-around {
  justify-content: space-around;
}

.justify-content-evenly, .flex-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-stretch {
  align-self: stretch;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}

.non-scrollable {
  overflow: hidden;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 2rem;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: calc(0.25 * var(--spacer)) !important;
}

.m-2 {
  margin: calc(0.5 * var(--spacer)) !important;
}

.m-3 {
  margin: var(--spacer) !important;
}

.mt-0 {
  margin-block-start: 0 !important;
}

.mt-1 {
  margin-block-start: calc(0.25 * var(--spacer)) !important;
}

.mt-2 {
  margin-block-start: calc(0.5 * var(--spacer)) !important;
}

.mt-3 {
  margin-block-start: var(--spacer) !important;
}

.mt-4 {
  margin-block-start: calc(1.5 * var(--spacer)) !important;
}

.mb-0 {
  margin-block-end: 0 !important;
}

.mb-1 {
  margin-block-end: calc(0.25 * var(--spacer)) !important;
}

.mb-2 {
  margin-block-end: calc(0.5 * var(--spacer)) !important;
}

.mb-3 {
  margin-block-end: var(--spacer) !important;
}

.mb-4 {
  margin-block-end: calc(1.5 * var(--spacer)) !important;
}

.ml-0, .ms-0 {
  margin-inline-start: 0 !important;
}

.ml-1, .ms-1 {
  margin-inline-start: calc(0.25 * var(--spacer)) !important;
}

.ml-2, .ms-2 {
  margin-inline-start: calc(0.5 * var(--spacer)) !important;
}

.ml-3, .ms-3 {
  margin-inline-start: var(--spacer) !important;
}

.ml-4, .ms-4 {
  margin-inline-start: calc(1.5 * var(--spacer)) !important;
}

.mr-0, .me-0 {
  margin-inline-end: 0 !important;
}

.mr-1, .me-1 {
  margin-inline-end: calc(0.25 * var(--spacer)) !important;
}

.mr-2, .me-2 {
  margin-inline-end: calc(0.5 * var(--spacer)) !important;
}

.mr-3, .me-3 {
  margin-inline-end: var(--spacer) !important;
}

.mr-4, .me-4 {
  margin-inline-end: calc(1.5 * var(--spacer)) !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: calc(0.25 * var(--spacer)) !important;
}
.p-2 {
  padding: calc(0.5 * var(--spacer)) !important;
}

.p-3 {
  padding: calc(var(--spacer)) !important;
}

.p-4 {
  padding: calc(1.5 * var(--spacer)) !important;
}

.pt-0 {
  padding-block-start: 0 !important;
}

.pt-1 {
  padding-block-start: calc(0.25 * var(--spacer)) !important;
}

.pt-2 {
  padding-block-start: calc(0.5 * var(--spacer)) !important;
}

.pt-3 {
  padding-block-start: var(--spacer) !important;
}

.pt-4 {
  padding-block-start: calc(1.5 * var(--spacer)) !important;
}

.pb-0 {
  padding-block-end: 0 !important;
}

.pb-1 {
  padding-block-end: calc(0.25 * var(--spacer)) !important;
}

.pb-2 {
  padding-block-end: calc(0.5 * var(--spacer)) !important;
}

.pb-3 {
  padding-block-end: var(--spacer) !important;
}

.pb-4 {
  padding-block-end: calc(1.5 * var(--spacer)) !important;
}

.pb-5 {
  padding-block-end: calc(2 * var(--spacer)) !important;
}

.pb-6 {
  padding-block-end: calc(3 * var(--spacer)) !important;
}

.pl-0, .ps-0 {
  padding-inline-start: 0 !important;
}

.pl-1, .ps-1 {
  padding-inline-start: calc(0.25 * var(--spacer)) !important;
}

.pl-2, .ps-2 {
  padding-inline-start: calc(0.5 * var(--spacer)) !important;
}

.pl-3, .ps-3 {
  padding-inline-start: var(--spacer) !important;
}

.pl-4, .ps-4 {
  padding-inline-start: calc(1.5 * var(--spacer)) !important;
}

.pr-0, .pe-0 {
  padding-inline-end: 0 !important;
}

.pr-1, .pe-1 {
  padding-inline-end: calc(0.25 * var(--spacer)) !important;
}

.pr-2, .pe-2 {
  padding-inline-end: calc(0.5 * var(--spacer)) !important;
}

.pr-3, .pe-3 {
  padding-inline-end: var(--spacer) !important;
}

.pr-4, .pe-4 {
  padding-inline-end: calc(1.5 * var(--spacer)) !important;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.fw-bold {
  font-weight: 500;
}

.fw-bolder {
  font-weight: 600;
}

.fw-normal {
  font-weight: 400;
}

.fw-light {
  font-weight: 300;
}

.fw-lighter {
  font-weight: 200;
}


.primary {
  color: var(--primary-color);
  fill: var(--primary-color);
}

.primary-dark {
  color: var(--primary-color-dark);
  fill: var(--primary-color-dark);
}

.primary-text {
  color: var(--primary-color-text);
  fill: var(--primary-color-text);
}

.color-link,
.link-color {
  color: var(--link-color);
  fill: var(--link-color);
}

.text-color {
  color: var(--text-color);
  fill: var(--text-color);
}

.gray {
  color: var(--gray);
  fill: var(--gray);
}

.white {
  color: var(--white);
  fill: var(--white);
}

.disabled {
  color: var(--gray);
  fill: var(--gray);
}

.tag {
  color: var(--white);
  font-size: .8em;
  font-weight: 500;
  text-transform: uppercase;
  padding: .15rem .75rem;
  background-color: var(--link-color);
  cursor: pointer;
  border-radius: 16px;

  &:focus {
    outline: 2px solid var(--focus-color);
    outline-offset: 1px;
  }

  &:hover,
  &:focus {
    background-color: var(--link-color-hover);
  }

  &:active {
    background-color: var(--link-color-hover);
  }
}

button {
  font-family: var(--heading-font-family);
  text-transform: uppercase;
  padding: .5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid transparent;
  font-weight: 500;
  font-size: 1em;
  width: fit-content;

  &:focus {
    outline: 2px solid var(--focus-color);
    outline-offset: 1px;
  }
}


.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--primary-color-inverse);
  fill: var(--primary-color-inverse);

  &:hover,
  &:focus {
    filter: brightness(var(--hover-brightness));
    color: var(--primary-color-inverse);
    fill: var(--primary-color-inverse);
  }
}

.btn-secondary {
  border-color: var(--primary-color);
  background-color: var(--white);
  color: var(--primary-color-dark);
  fill: var(--primary-color-dark);
  
  &:hover,
  &:focus {
    background-color: var(--primary-color-light);
  }
}

.btn-link {
  border-color: transparent;
  background-color: transparent;
  color: var(--link-color);
  fill: var(--link-color);
  

  &.btn-icon-left {
    padding-left: 0;
  }

  &.btn-icon-right {
    padding-right: 0;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.btn-small {
  font-size: 0.85em;
  padding: .25em 0.75em;
  border-radius: 8px;
}

.btn-large {
  font-size: 1.15em;
  padding: .5em 1.25em;
}

button.disabled,
.btn-disabled,
button:disabled {
  color: var(--gray-dark);
  fill: var(--gray-dark);
  border-color: var(--gray-light);
  background-color: var(--gray-light);
  cursor: not-allowed !important;

  &:hover,
  &:focus {
    outline-color: 2px solid var(--gray);
    color: var(--gray-dark);
    fill: var(--gray-dark);
    border-color: var(--gray-light);
    background-color: var(--gray-light);
    filter: none;
  }
}

.btn-text, .text-button {
  text-transform: capitalize;
  background-color: transparent;
  color: var(--link-color);
  padding: .15rem 0.5rem;
  border-radius: 8px;
  cursor: pointer;

  &.disabled,
  &.btn-disabled {
    color: var(--gray);
    opacity: 0.75;
    cursor: not-allowed !important;
    outline-color: var(--gray);
  }
}

.btn-header {
  border-radius: 8px !important;
  justify-content: center;
  width: 100%;
  font-size: 0.9em;
}

.btn-icon-left {
  display: flex;
  align-items: center;

  svg {
    flex-shrink: 0;
    margin-right: .5em;
  }
}

.btn-icon-right {
  display: flex;
  align-items: center;

  svg {
    flex-shrink: 0;
    margin-left: .5em;
  }
}

.btn-icon-only {
  display: flex;
  align-items: center;
}

input[type="color"] {
  min-width: 7em;
  height: 100%;
  border-radius: 8px;
  border: 2px solid var(--primary-color);

  &:focus {
    outline: 2px solid var(--focus-color);
    outline-offset: 1px;
  }

  &:disabled {
    border-color: var(--gray-light);
    background-color: var(--gray-light);
    cursor: not-allowed !important;
    outline-color: var(--gray);
  }
}

.icon-sm {
  width: 16px;
  height: 16px;
}

.icom-md {
  width: 24px;
  height: 24px;
}

.icon-lg {
  width: 32px;
  height: 32px;
}

.icon-xl {
  width: 40px;
  height: 40px;
}
