---
layout: default
title: "UDOIT: Accessibility Scanning Tool for Online Course Content"
---

<!-- roadmap was remade into help page -->
{% include header.html activePage="installation"%}
<main>
<html>
    <body>
        <section class="flex-col page-width">
            <div>
                <h2>Links should Contain Descriptive Text</h2>
                <p>The “Links should Contain Descriptive Text” states that all links and hyperlinks should have meaningful, standalone text accompanying it. When navigating through pages, sceen readers generate a list of all the links on a page. Multiple links containing random symbols, numbers, or characters can confuse users.</p>
                <p>coming soon</p>
                <p>coming soon</p>
            </div>
            <div>
                <h3>To resolve this error:</h3>
                <p>coming soon</p>
            </div>

            <div>
                <a href="guide.html">need more help? see the other tutorials</a>
            </div>
        </section>
    </body>
</html>
</main>
{% include footer.html img="/img/jfootawNOguyfind.svg" %}