---
layout: default
title: "UDOIT: Accessibility Scanning Tool for Online Course Content"
---
{% include header.html activePage="installation" %}

<main class="colour-block flex-row justify-content-between" style="padding: 0rem 0rem;">
  <div id="main-content" class="flex-column flex-grow-1">
    <div class="background-colour-override">
      <div class="info-hero page-width">
        <h1 id="main-header">About UDOIT</h1>
        <p>Originally designed for Webcourses@UCF, UDOIT now spans across many higher education institutions to provide ease in transitioning courses to adhering to modern accessibility specifications. </p>
      </div>
    </div>

    <section class="main-page-section-no-underline flex-between page-width">
      <div class="flex-col">
        <div>
          <h2 id="main-header-left">Built with accessibility in mind.</h2>
        </div>

        <div>
          <ul class="doc-card-container" style="margin-block-start: 0;">

            <li class="doc-card">
              <div class="flex-col">
                <div class="flex-row">
                  <img style="vertical-align: text-top;" src="img/devicon.svg"/>
                  <p>Thanks to UCFOpen, UDOIT is free and open source—but setup takes time and expertise, and hosting may incur ongoing costs.</p>
                </div>
                <div>
                  <a href="https://github.com/ucfopen/UDOIT/" target="__blank" style="font-size: small;">Check out more on our Github &rarr;</a>
                </div>  
              </div>
            </li>

            <li class="doc-card">
              <div class="flex-col">
                <div class="flex-row">
                  <img src="img/switchicon.svg"/>
                  <p>UDOIT has different installation methods, keeping the whole process flexible enough to tailor to your courses.</p>
                </div>
                <p class="mt-0" style="font-size: small;">View our <a href="/installation.html" target="__blank" style="font-size: small;">Installation Guide</a> to see all methods.</p>
              </div>
            </li>

            <li class="doc-card">
              <div class="flex-col">
                <div class="flex-row">
                  <img src="img/plugicon.svg"/>
                  <p>UDOIT plugs right into your Canvas course for seamless integration.</p>
                </div>
                <p style="font-size: small;">Pretty cool, right?</p>
              </div>
            </li>

            <li class="doc-card">
              <div class="flex-col">
                <div class="flex-row">
                  <img src="img/handshakeicon.svg"/>
                  <p>This is a filler box. We'll need another cool fact about UDOIT to put here.</p>
                </div>
                <p style="font-size: small;">What makes UDOIT stand out most? Or, fourth most?</p>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </section>

        <!-- <li class="doc-card">
          <div class="flex-col">
            <div class="flex-row">
              <img src="img/devicon.svg"/>
              <p>Thanks to UCFOpen, UDOIT is free and open source—but setup takes time and expertise, and hosting may incur ongoing costs.</p>
            </div>
            <p style="font-size: small;">Check out more on our Github.</p>
          </div>
        </li>
      </ul>
    </section> -->

    <section class="main-page-section-no-underline flex-between background-colour-override">
      <div class="page-width flex-col">
        <div>
          <h2 id="main-header-left">As Seen on our Github</h2>
        </div>

        <div class="git-section flex-row flex-between">
          <div>
            <ul style="padding-inline: inherit; list-style-type: none;">
              <li class="flex-row">
                <p style="color: #949494;">#1194</p>
                <a href="https://github.com/ucfopen/UDOIT/pull/1194" target="__blank" class="git-list">WIP implement standard LTI tables</a>
              </li>

              <li class="flex-row">
                <p style="color: #949494;">#1188</p>
                <a href="https://github.com/ucfopen/UDOIT/pull/1188" target="__blank" class="git-list">Added more spanish translations</a>
              </li>

              <li class="flex-row">
                <p style="color: #949494;">#1185</p>
                <a href="https://github.com/ucfopen/UDOIT/pull/1185" target="__blank" class="git-list">Fixed display data for the ReportsPage.js</a>
              </li>

              <li class="flex-row">
                <p style="color: #949494;">#1167</p>
                <a href="https://github.com/ucfopen/UDOIT/pull/1167" target="__blank" class="git-list">Addresses Frontend Improvements of the Admin Page</a>
              </li>

              <li class="flex-row">
                <p style="color: #949494;">#1163</p>
                <a href="https://github.com/ucfopen/UDOIT/pull/1163" target="__blank" class="git-list">Adds caption editor for missing media caption issues</a>
              </li>
            </ul>
          </div>

          <div class="flex-col w-50">
            <div style="padding-bottom: 2em;">
              <div class="doc-card-long">
                <h3 class="doc-card-header">Submit an issue</h3>
                <p>Found a bug or have a feature request? Let us know on GitHub so we can continue improving UDOIT.</p>
                <a href="https://github.com/ucfopen/UDOIT/issues" target="__blank" style="font-weight: bolder;">Open an issue &rarr;</a>
              </div>
            </div>
            
            <div>
              <div class="doc-card-long">
                <h3 class="doc-card-header">How to Contribute</h3>
                <p>Join our open source community. We welcome pull requests, documentation improvements, and more.</p>
                <a href="https://github.com/ucfopen/UDOIT/issues" target="__blank" style="font-weight: bolder;">Read our guidelines &rarr;</a>
              </div>
            </div>
          </div>
        </div>


    </section>
  </div>
</main>
{% include footer.html img="/img/jfootawNOguyfind.svg" %} 
