---
layout: default
title: "UDOIT: Accessibility Scanning Tool for Online Course Content"
---

<!-- roadmap was remade into help page -->
{% include header.html activePage="installation"%}
<main>
<html>
    <body>
        <section class="page-width"><iframe class="tutvideo"></iframe></section>
        <section class="flex-col page-width">
            <h2>Embedded Content Should Have a Label</h2>
            <div>
                <p>The “Embedded Content Should Have a Label” error indicates embedded content was found without a descriptive title or label.</p>
                <p>A frame, video, or image should have a unique, descriptive title so students using a screen reader can quickly read the context and decide if they wish to navigate there, like a sign on a door.</p>
                <p>To fix this error, use the widget to add a descriptive label to the title attribute within the embedded element.</p>
            </div>
            <div>
                <a href="guide.html">need more help? see the other tutorials</a>
            </div>
        </section>
    </body>
</html>
</main>
{% include footer.html img="/img/jfootawNOguyfind.svg" %}