---
layout: default
title: "UDOIT: Accessibility Scanning Tool for Online Course Content"
---

<!-- roadmap was remade into help page -->
{% include header.html activePage="installation"%}
<main>
<html>
    <body>
        <section class="flex-col page-width">
            <h2>Headings Should not be Empty</h2>
            <div>
                <p>The “Headings Should not be Empty” error references heading elements that contain no text. A heading element is any text that is programmatically wrapped with an <code>&lt; h1 &gt;</code>,<code>&lt; h2 &gt;</code>,<code>&lt; h3 &gt;,</code> tag, and so on.</p>
                <p>Users who are blind or using screen readers rely on properly structured headings so they can quickly understand the page contents.</p>
                <p>To fix this error, avoid skipping heading levels and ensure all headers contain text. Use the widget to add a descriptive header, or remove the header element altogether.</p>
            </div>
        <div>
            <a href="guide.html">need more help? see the other tutorials</a>
        </div>
        </section>
    </body>
</html>
</main>
{% include footer.html img="/img/jfootawNOguyfind.svg" %}