---
layout: default
title: "UDOIT: Accessibility Scanning Tool for Online Course Content"
---
{% include header.html activePage="installation"%}
<body>

  <section class="main-page-section-no-underline">
    <div>
      <h2 id="main-header">Get Started with UDOIT</h2>
      <p class="text-center">Integrate UDOIT directly into your Learning Management System</p>
    </div>
  </section>

  <main class="flex-row justify-content-between page-width flex-grow-1">
    <div id="main-content" class="flex-column flex-grow-1">
      <div class="card-container">
        <a href="/documentation.html" class="card-block">
          <div class="card flex-row">
            <img src="img/docbookleft.svg"/>
            <p>Learn more about UDOIT</p>
            <img src="img/docpageright.svg"/>
          </div>
          <span class="card-label">Documentation</span>
        </a>

        <a href="#" class="card-block">
          <div class="card flex-row">
            <img src="img/treegroupleft.svg"/>
              <p>Get steps for downloading UDOIT</p>
            <img src="img/treegroupright.svg"/>

          </div>
          <span class="card-label">Installation</span>
        </a>

        <a href="/guide.html" class="card-block">
          <div class="card flex-row">
            <img src="img/footprintsleft.svg"/>
            <p>See resources for navigating course errors</p>
            <img src="img/footprintsright.svg"/>
          </div>
          <span class="card-label">Walkthrough</span>
        </a>

        <!-- <a href="#installation" class="card-block">
          <div class="card">
            <p>Get steps for downloading UDOIT</p>
          </div>
          <span class="card-label">Installation</span>
        </a>

        <a href="/guide.html" class="card-block">
          <div class="card">
            <p>See resources for navigating course errors</p>
          </div>
          <span class="card-label">Walkthrough</span>
        </a> -->
      </div>
    </div>
  </main>

  {% include footer.html img="/img/jfootawguyfind.svg" %}

</body>