---
layout: default
title: "UDOIT: Accessibility Scanning Tool for Online Course Content"
---
{% include header.html activePage="guide"%}
<main class="flex-row justify-content-between page-width">
  <div id="main-content" class="flex-column flex-grow-1">
    <section class="main-page-section">
      <div class="text-center">
        <h1 class="main-header">Walkthrough & Tutorials</h1>
        <p>We understand that UDOIT may be a learning curve, but we aim to make it as user-friendly as possible. Below are some tutorials addressing common hurdles when users first begin using UDOIT, as well as tutorials which address fixing specific errors that UDOIT scans for. </p>  
        <!-- <a href="exampleform.html">click me to see an example of an error form!</a> -->
      </div>
    </section>
    
    <section class="main-page-section-no-underline">
       <div clas="flex-col">
        <h2 class="">Introduction to UDOIT Tutorials</h2>
        <div>
          <ul class="vid-card-list">

            <li class="vid-card">
              <a href="#" class="">
                <img src="img/FORMEXAMPLEIMG.jpg" alt=""/>
                <div class="vid-card-content">
                  <h3 class="vid-card-title">Navigating UDOIT</h3>
                  <p class="vid-card-description">Learn how to navigate UDOIT and run your first course scan after installation is complete.</p>
                </div>
              </a>
            </li>
            <li class="vid-card">
              <a href="#" class="">
                <img src="img/FORMEXAMPLEIMG.jpg" alt=""/>
                <div class="vid-card-content">
                  <h3 class="vid-card-title">Your First Barrier</h3>
                  <p class="vid-card-description">Once UDOIT has scanned your course for the first time, you'll see a list of errors to correct.</p>
                </div>
              </a>
            </li>
            <li class="vid-card">
              <a href="#" class="">
                <img src="img/FORMEXAMPLEIMG.jpg" alt=""/>
                <div class="vid-card-content">
                  <h3 class="vid-card-title">Reports</h3>
                  <p class="vid-card-description">How to interpret your reports results.</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="main-page-section-no-underline" style="margin-top: 3em;">
      <div clas="flex-col">
        <h2 class="section-header">More Tutorials</h2>
        <div>
          <ul class="vid-card-list">
            <li class="vid-card">
              <a href="blockquotes.html" class="">
                <img src="img/FORMEXAMPLEIMG.jpg" alt=""/>
                <div class="vid-card-content">
                  <h3 class="vid-card-title">Blockquotes Must Have a Citation</h3>
                  <p class="vid-card-description">This error indicates a section that was quoted from another source does not contain its necessary citation.  </p>
                </div>
              </a>
            </li>
            <li class="vid-card">
              <a href="embeddedcontent.html" class="">
                <img src="img/FORMEXAMPLEIMG.jpg" alt=""/>
                <div class="vid-card-content">
                  <h3 class="vid-card-title">Embedded Content Should Have a Label</h3>
                  <p class="vid-card-description">This error indicates embedded content was found without a descriptive title or label.  </p>
                </div>
              </a>
            </li>
            <li class="vid-card">
              <a href="infocolour.html" class="">
                <img src="img/FORMEXAMPLEIMG.jpg" alt=""/>
                <div class="vid-card-content">
                  <h3 class="vid-card-title">Information Should not be Conveyed by Colour Alone</h3>
                  <p class="vid-card-description">This error says that color by itself should not be used to present information or convey importance.</p>
                </div>
              </a>
            </li>
            <li class="vid-card">
              <a href="listmarkup.html" class="">
                <img src="img/FORMEXAMPLEIMG.jpg" alt=""/>
                <div class="vid-card-content">
                  <h3 class="vid-card-title">Lists Should Have Proper List Markup</h3>
                  <p class="vid-card-description">Lists must be properly, programmatically formatted so that users with assistive technologies can navigate.</p>
                </div>
              </a>
            </li>
            <li class="vid-card">
              <a href="emptyheadings.html" class="">
                <img src="img/FORMEXAMPLEIMG.jpg" alt=""/>
                <div class="vid-card-content">
                  <h3 class="vid-card-title">Headings Should not be Empty</h3>
                  <p class="vid-card-description">This error states all headings should contain text.</p>
                </div>
              </a>
            </li>
            <li class="vid-card">
              <a href="alttext.html" class="">
                <img src="img/FORMEXAMPLEIMG.jpg" alt=""/>
                <div class="vid-card-content">
                  <h3 class="vid-card-title">Images Should Have Alternative Text.</h3>
                  <p class="vid-card-description">This error states that images that convey important information should contain a text alternative with the same information.</p>
                </div>
              </a>
            </li>
            <li class="vid-card">
              <a href="pagestructure.html" class="">
                <img src="img/FORMEXAMPLEIMG.jpg" alt=""/>
                <div class="vid-card-content">
                  <h3 class="vid-card-title">Headings Should Show Page Structure</h3>
                  <p class="vid-card-description">This error is coming soon.</p>
                </div>
              </a>
            </li>
            <li class="vid-card">
              <a href="incompatiblearia.html" class="">
                <img src="img/FORMEXAMPLEIMG.jpg" alt=""/>
                <div class="vid-card-content">
                  <h3 class="vid-card-title">HTML Element has an Incompatible ARIA Role</h3>
                  <p class="vid-card-description">This error is coming soon.</p>
                </div>
              </a>
            </li>
            <li class="vid-card">
              <a href="incompatiblearia.html" class="">
                <img src="img/FORMEXAMPLEIMG.jpg" alt=""/>
                <div class="vid-card-content">
                  <h3 class="vid-card-title">Links should Contain Descriptive Text</h3>
                  <p class="vid-card-description">This error states that all links and hyperlinks should have meaningful, standalone text accompanying it.</p>
                </div>
              </a>
            </li>
            <li class="vid-card">
              <a href="sufficientcontrast.html" class="">
                <img src="img/FORMEXAMPLEIMG.jpg" alt=""/>
                <div class="vid-card-content">
                  <h3 class="vid-card-title">Text must have Sufficient Colour contrast with the Background</h3>
                  <p class="vid-card-description">This error indicates that the font colour of specific text is not sufficiently contrasted against the background it is on. </p>
                </div>
              </a>
            </li>
            <li class="vid-card">
              <a href="#" class="">
                <img src="img/FORMEXAMPLEIMG.jpg" alt=""/>
                <div class="vid-card-content">
                  <h3 class="vid-card-title">Unable to Fix Inside of UDOIT</h3>
                  <p class="vid-card-description">If an error is within this category, there will not be a widget to assist you in solving the error.</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</main>
{% include footer.html img="/img/jfootawNOguyfind.svg" %}