---
layout: default
title: "UDOIT: Accessibility Scanning Tool for Online Course Content"
---
{% include header.html activePage="features" %}
<div id="hero" class="main-page-hero">
  <div id="hero-container" class="page-width flex-row justify-content-between align-items-center h-100">
    <div id="index-hero-text" class="hero-text-content flex-column">
      <h1>Make your courses more <span class="accessible">accessible</span> than ever.</h1>
      <p class="hero-p">Enhance your students’ online learning by removing accessibility barriers from online course content</p>
      <div class="button-row">
        <a id="secondaryactionbutton" class="hero-secondaryactionbutton" href="guide.html">Get UDOIT for Your Course</a>
        <a class="actionbutton" href="guide.html">Watch UDOIT Tutorials</a>
        <a class="actionbutton-mobile" href="getudoit.html">Watch Tutorials</a>
      </div>
    </div> 
    <div class="hero-main-image-container-light">
      <img src="./img/heroimgLIGHTmode.svg" alt="Light Mode Graphic" />
    </div>
    <div class="hero-main-image-container-dark">
      <img src="./img/heroimgDARKmode.svg" alt="Dark Mode Graphic" />
    </div>
  </div>
</div>


<main class="flex-row justify-content-between page-width">
  <div id="main-content" class="flex-column flex-grow-1" >

    <section class="main-page-section home-page-section page-width" >
      <h2>Course accessibility made simple.</h2>
      <p>Follow these three easy steps to transform your course and engage every student.</p>
      <!-- how specific do we want to be with the semantic html? -->
      <ul class="home-card-container">
        <li class="home-card">
          <div class="home-card-content flex-col align-items-center">
            <div class="home-card-step">
              <p>1</p>
            </div>
            <p class="home-card-title">
              Install UDOIT
            </p>
            <p>
              Add UDOIT to your Canvas instance.
              Need help? Check out our <a href="#" class="home-card-link">installation guide</a>.
            </p>
          </div>
        </li>

        <li class="home-card">
          <div class="home-card-content flex-col align-items-center">
            <div class="home-card-step">
              <p>2</p>
            </div>
            <p class="home-card-title">
              Scan your course
            </p>
            <p>
              Run UDOIT to identify potential accessbility barriers in your content automatically.
            </p>
          </div>
        </li>

        <li class="home-card">
          <div class="home-card-content flex-col align-items-center">
            <div class="home-card-step">
              <p>3</p>
            </div>
            <p class="home-card-title">
              Fix!
            </p>
            <p>
              Follow the provided guidance to remove barriers directly within the tool. Learn more in our <a src="#" class="home-card-link">tutorials</a>.
            </p>
          </div>
        </li>
      </ul>
    </section>

    <section class="main-page-section">
      <div class="what-is-udoit">
        <h2>What is UDOIT?</h2>
        <p>UDOIT is a free and open-source tool that educators can use to find and repair common accessibility issues in their online course content. </p>
        <p>It integrates directly with the Canvas Learning Management System using the LTI standard, meaning that faculty and administrators can access it directly through Canvas without needing to leave the platform or log in separately.</p>
      </div>
      <aside>
        <div class="aside-content">
          <h2>Quick Links</h2>
          <nav aria-label="Page Navigation">
            <ul>
              <li><a href="#">Installation</a></li>
              <li><a href="documentation.html">Documentation</a></li>
              <li><a href="help.html">Help & FAQs</a></li>
            </ul>
          </nav>
        </div>
      </aside>
    </section>

    <section class="main-page-section">
      <h2 id="what-is-accessibility">What is Digital Accessibility?</h2>
      <p>
        Sometimes the way content is created is simple to navigate for some users, but difficult for others. With the influx of classes supporting online instruction, this means that some learners do not have access to certain online course material.  <a href="https://www.w3.org/WAI/fundamentals/" target="_blank">Accessibility standards</a> have been adopted to help ensure that web content meets criteria considering <i>all</i> users.
      </p>
      <ul class="home-card-container">
        <li class="home-card-long">
          <div class="flex-col flex-between">
            <div class="flex-col">
              <div class="flex-row">
                <img src="img/visualicon.svg"/>
                <p class="fw-bolder pt-3">Visual Needs</p>
              </div>
              <p>Learners with blindness, low vision, or color blindness.</p>
            </div>
            <div class="card-content">
              <div class="home-card-content-tip">
                <p class="fw-bolder">HOW UDOIT HELPS:</p>
                <p>UDOIT will scan courses for color contrast and ensure that images have text alternatives.</p>
              </div>
            </div>
        </li>
        <li class="home-card-long flex-col">
          <div class="flex-row">
            <img src="img/audioicon.svg"/>
            <p class="fw-bolder pt-3">Auditory Needs</p>
          </div>
            <div class="card-content">
              <p>Learners who are deaf or hard-of-hearing.</p>
              <div class="home-card-content-tip">
                <p class="fw-bolder">HOW UDOIT HELPS:</p>
                <p>UDOIT will identify multimedia and help create and update captions and subtitles.</p>
            </div>
            </div>
        </li>
        <li class="home-card-long flex-col">
          <div class="flex-row">
            <img src="img/cognitiveicon.svg"/>
            <p class="fw-bolder pt-3">Motor Needs</p>
          </div>
            <div class="card-content">
              <p>Users with physical disabilities that prevent them from using a mouse or keyboard.</p>
              <div class="home-card-content-tip">
                <p class="fw-bolder">HOW UDOIT HELPS:</p>
                <p>UDOIT finds and helps fix visibility and other issues that prevent navigation with assitive technologies.</p></div>
            </div>
        </li>
        <li class="home-card-long flex-col">
          <div class="flex-row align-items-center">
            <img src="img/cognitiveicon.svg"/>
            <p class="fw-bolder pt-3">Cognitive Needs</p>
          </div>
            <div class="card-content">
              <p>Users with cognitive and other hidden disabilities.</p>
              <div class="home-card-content-tip">
                <p class="fw-bolder">HOW UDOIT HELPS:</p>
                <p>UDOIT makes sure that labels, links, and page landmarks are used correctly and with descriptive text.</p>
            </div>
            </div>
        </li>
      </ul>
    </section>
  </div>

</main>
{% include footer.html img="/img/jfootawNOguyfind.svg" %}