---
layout: default
title: "UDOIT: Accessibility Scanning Tool for Online Course Content"
---
{% include header.html activePage="features" %}
<div id="hero" class="main-page-hero">
  <div id="hero-container" class="page-width flex-row justify-content-between align-items-center h-100">
    <div id="index-hero-text" class="hero-text-content flex-column">
      <h1>Make your courses more <span class="accessible">accessible</span> than ever.</h1>
      <p class="hero-p">Enhance your students’ online learning by removing accessibility barriers from online course content, while encouraging ease of access for every student!</p>
      <div class="button-row">
        <a id="secondaryactionbutton" class="hero-secondaryactionbutton" href="guide.html">Get UDOIT for your Course</a>
        <a class="actionbutton" href="guide.html">Watch UDOIT Tutorials</a>
        <a class="actionbutton-mobile" href="getudoit.html">Watch Tutorials</a>
      </div>
    </div> 
    <div class="hero-main-image-container-light">
      <img src="./img/heroimgLIGHTmode.svg" alt="Light Mode Graphic" />
    </div>
    <div class="hero-main-image-container-dark">
      <img src="./img/heroimgDARKmode.svg" alt="Dark Mode Graphic" />
    </div>
  </div>
</div>


<main class="flex-row justify-content-between page-width">
  <div id="main-content" class="flex-column flex-grow-1" >

    <section class="main-page-section home-page-section page-width" >
      <h2>Course accessibility made simple.</h2>
      <p>Follow these three easy steps to transform your course and engage every student.</p>
      <!-- how specific do we want to be with the semantic html? -->
      <ul class="home-card-container">
        <li class="home-card">
          <div class="home-card-content flex-col align-items-center">
            <div class="home-card-step">
              <p>1</p>
            </div>
            <p class="home-card-title">
              Install UDOIT
            </p>
            <p>
              Add UDOIT to your Canvas instance.
              Need help? Check out our <a href="#" class="home-card-link">installation guide</a>.
            </p>
          </div>
        </li>

        <li class="home-card">
          <div class="home-card-content flex-col align-items-center">
            <div class="home-card-step">
              <p>2</p>
            </div>
            <p class="home-card-title">
              Scan your course
            </p>
            <p>
              Run UDOIT to identify potential accessbility barriers in your content automatically.
            </p>
          </div>
        </li>

        <li class="home-card">
          <div class="home-card-content flex-col align-items-center">
            <div class="home-card-step">
              <p>3</p>
            </div>
            <p class="home-card-title">
              Solve!
            </p>
            <p>
              Follow the provided guidance to fix issues directly within the tool. Learn more in our <a src="#" class="home-card-link">tutorials</a>.
            </p>
          </div>
        </li>
      </ul>
    </section>

    <section class="main-page-section">
      <div class="what-is-udoit">
        <h2>What is UDOIT?</h2>
        <p>UDOIT is a free and open-source tool that educators can use to find and repair common accessibility issues in their online course content. </p>
        <p>It integrates directly with the Canvas Learning Management System using the LTI standard, meaning that faculty and administrators can access it directly through Canvas without needing to leave the platform or log in separately.</p>
      </div>
      <aside>
        <div class="aside-content">
          <h2>Quick Links</h2>
          <nav aria-label="Page Navigation">
            <ul>
              <li><a href="installation.html">Installation</a></li>
              <li><a href="documentation.html">Documentation</a></li>
              <li><a href="help.html">Help & FAQs</a></li>
            </ul>
          </nav>
        </div>
      </aside>
    </section>

    <section class="main-page-section">
      <h2 id="what-is-accessibility">What is Digital Accessibility?</h2>
      <p>
        Sometimes the way content is created is simple to navigate for some users, but difficult for others. Accessibility standards have been put in place to ensure websites meet criteria considering <i>all</i> users, eliminating content barriers.
      </p>
      <p>With the influx of classes supporting online instruction, it is important to follow guidelines supporting visual and screen reader functionality to support students with needs. Digital accessibility is the gateway to people with disabilities having equal access to online material.</p>
      <ul class="home-card-container">
        <li class="home-card-long">
          <div class="flex-col flex-between">
            <div class="flex-col">
              <div class="flex-row">
                <img src="img/visualicon.svg"/>
                <p class="fw-bolder pt-3">Visual Needs</p>
              </div>
              <p>Users with blindness, low vision, or color blindness rely on structured, well-contrasted content.</p>
            </div>
            <div class="card-content">
              <div class="home-card-content-tip">
                <p class="fw-bolder">HOW UDOIT HELPS:</p>
                <p>UDOIT will scan courses for colour contrast and ensure that content is accessible.</p>
              </div>
            </div>
        </li>
        <li class="home-card-long flex-col">
          <div class="flex-row">
            <img src="img/audioicon.svg"/>
            <p class="fw-bolder pt-3">Auditory Needs</p>
          </div>
            <div class="card-content">
              <p>Users relying on screen readers  need cleanly formatted and descriptive content to navigate smoothly.</p>
              <div class="home-card-content-tip">
                <p class="fw-bolder">HOW UDOIT HELPS:</p>
                <p>UDOIT will identify files, pages, or links with nondescript titles, or issues that may cause difficulty.</p>
            </div>
            </div>
        </li>
        <li class="home-card-long flex-col">
          <div class="flex-row align-items-center">
            <img src="img/cognitiveicon.svg"/>
            <p class="fw-bolder pt-3">Cognitive Needs</p>
          </div>
            <div class="card-content">
              <p>Users with hidden disabilities may have trouble navigating if course styles override their own settings.</p>
              <div class="home-card-content-tip">
                <p class="fw-bolder">HOW UDOIT HELPS:</p>
                <p>UDOIT has multiple built-in tools to address a range of violations that may cause users to struggle with navigation and interpretation of online course material.</p>
            </div>
            </div>
        </li>
        <li class="home-card-long flex-col">
          <div class="flex-row">
            <img src="img/cognitiveicon.svg"/>
            <p class="fw-bolder pt-3">Other</p>
          </div>
            <div class="card-content">
              <p>Some users may need extra accommodations for content that is published online.</p>
              <div class="home-card-content-tip">
                <p class="fw-bolder">HOW UDOIT HELPS:</p>
                <p>UDOIT allows faculty to adjust file names, video captions, and other materials that may be present in courses.</p></div>
            </div>
        </li>
      </ul>
    </section>
  </div>

</main>
{% include footer.html img="/img/jfootawNOguyfind.svg" %}