---
layout: default
title: "UDOIT: Accessibility Scanning Tool for Online Course Content"
---

<!-- roadmap was remade into help page -->
{% include header.html activePage="installation"%}
<main>
<html>
    <body>
        <section class="page-width"><iframe class="tutvideo"></iframe></section>
        <section class="flex-col page-width">
            <h2>Information Should not be Conveyed by Colour Alone</h2>
            <div>
                <p>The “Information Should not be Conveyed by Colour Alone” error says that color by itself should not be used to present information or convey importance. Displaying text or important content using colour as the only distinguisher can present hurdles to users with colour blindness disabilities.</p>
                <p>For example, when differentiating between “good” or “bad,” red and green should not be used independently, as many users may not be able to tell the difference. Instead, include icons, numbers, or even additional styles like bold or italics to accompany the information.</p>
                <p>To fix this violation, ensure all colours are accompanied by text, icons, or numbers. Then, use the widget to make the text bold or italic. You can also choose to make the text both bold and italic.</p>
            </div>
        <div>
            <a href="guide.html">need more help? see the other tutorials</a>
        </div>
        </section>
    </body>
</html>
</main>
{% include footer.html img="/img/jfootawNOguyfind.svg" %}