---
layout: default
title: "UDOIT: Accessibility Scanning Tool for Online Course Content"
---

<!-- roadmap was remade into help page -->
{% include header.html activePage="installation"%}
<main>
<html>
    <body>
        <section class="page-width"><iframe class="tutvideo"></iframe></section>
        <section class="flex-col page-width">
            <div>
                <h2>Headings Should Show Page Structure</h2>
                <p>The “Headings Should Show Page Structure” error states that lists must be properly, programmatically formatted so that users with assistive technologies can navigate and understand the content within the list.</p>
                <p>coming soon</p>
                <p>coming soon</p>
            </div>
            <div>
                <h3>To resolve this error:</h3>
                <p>coming soon</p>
            </div>

            <div>
                <a href="guide.html">need more help? see the other tutorials</a>
            </div>
        </section>
    </body>
</html>
</main>
{% include footer.html img="/img/jfootawNOguyfind.svg" %}