---
layout: default
title: "UDOIT: Accessibility Scanning Tool for Online Course Content"
---

<!-- roadmap was remade into help page -->
{% include header.html activePage="installation"%}
<main>
<html>
    <body>
        <section class="flex-col page-width">
            <div>
                <h2>Text must have Sufficient Colour contrast with the Background</h2>
                <p>The “Text must have Sufficient Colour contrast with the Background” error indicates that the font colour of specific text is not sufficiently contrasted against the background it is on. This can be troublesome for users with low vision trying to read. </p>
                <p>coming soon</p>
                <p>coming soon</p>
            </div>
            <div>
                <h3>To resolve this error:</h3>
                <p>coming soon</p>
            </div>

            <div>
                <a href="guide.html">need more help? see the other tutorials</a>
            </div>
        </section>
    </body>
</html>
</main>
{% include footer.html img="/img/jfootawNOguyfind.svg" %}