<footer >
  <img src="{{ include.img }}" class="footerStyle">

  <div id="footertext" class="flex-row justify-content-around" style="background-color: #599779">
    <div>
      <div id="image-logo-inv" class="flex-row flex-between flex-end" style="font-weight: bold; font-size: 1.5rem;" aria-label="UDOIT Logo" role="img"></div>
      <p class="footer-p">Make online course content accessible. For every student.</p>
    </div>

    <div class="flex-col">
      <h4>Product</h4>
      <a class="footerlink">Help</a>
      <a class="footerlink">Installation</a>
    </div>

    <div class="flex-col">
      <h4>Company</h4>
      <a class="footerlink">Techrangers</a>
      <a class="footerlink">UCFOpen</a>
    </div>

    <div class="flex-col">
      <h4>Subscribe</h4>
      <a class="footerlink">Get notified on UDOIT updates!</a>
    </div>
  </div>

  <div class="footer-bottom">
    <p id="footer-p">© 2026 UDOIT. All rights reserved.</p>
    <div>
      <p id="footer-p">Privacy Policy</p>
      <p id="footer-p">Terms of Service</p>
    </div>
  </div>

  <!-- <div>
    <section>
      <div>
        <p>2025 UDOIT. All rights reserved.</p>
      </div>
      <div>
        <p>
          Privacy Policy
        </p>
        <p>
          Terms of Service
        </p>
      </div>
    </section>
  </div> -->
  
</footer>