<footer >
  <img src="{{ include.img }}" class="ucfooterStyle">

  <div id="ucfootertext" class="flex-row justify-content-around" style="background-color: #FFEDA5">
    <div>
      <div id="image-logo-inv" class="flex-row flex-between flex-end" style="font-weight: bold; font-size: 1.5rem;" aria-label="UDOIT Logo" role="img"></div>
      <p class="footer-p">Make online course content accessible. For every student.</p>
    </div>

    <div class="flex-col">
      <h4>Product</h4>
      <a class="ucfooterlink">Help</a>
      <a class="ucfooterlink">Installation</a>
    </div>

    <div class="flex-col">
      <h4>Company</h4>
      <a class="ucfooterlink">Techrangers</a>
      <a class="ucfooterlink">UCFOpen</a>
    </div>

    <div class="flex-col">
      <h4>Subscribe</h4>
      <a class="ucfooterlink">Get notified on UDOIT updates!</a>
    </div>
  </div>

  <div class="ucfooter-bottom">
    <p id="ucfooter-p">© {{ 'now' | date: "%Y" }} UDOIT. All rights reserved.</p>
    <div>
      <p id="ucfooter-p">Privacy Policy</p>
      <p id="ucfooter-p">Terms of Service</p>
    </div>
  </div>

  <!-- <div>
    <section>
      <div>
        <p>2025 UDOIT. All rights reserved.</p>
      </div>
      <div>
        <p>
          Privacy Policy
        </p>
        <p>
          Terms of Service
        </p>
      </div>
    </section>
  </div> -->
  
</footer>